.slideshow { height: 340px; width: 620px; margin: auto; background: #eee; }
.slideshow a img { border: none; }
.slideshow img { background-color: #eee; }
.slideshow .post { display: block; height: 340px; width: 620px; overflow: hidden; }
.slideshow .wrapper-post { background: transparent url("{{tpl:BlogThemeURL}}/img/overlay.png") repeat top left; border-top: 1px solid #000; bottom: 0; left: 0; padding: 20px; position: absolute; width: 580px; }
.slideshow .wrapper-post h2 { margin: 0; }
.slideshow .wrapper-post h2 a:link,
.slideshow .wrapper-post h2 a:visited { color: #fff; text-decoration: none; }
.slideshow .wrapper-post p { margin: 0; }
.slideshow .wrapper-post p a { color: #ededed; }
